<a href="/BrightIdeas">Bright Ideas</a>
<a href="/Logout">Log Out</a>

<p>Name: @ViewBag.User.FirstName @ViewBag.User.LastName</p>
<p>Alias: @ViewBag.User.FirstName</p>
<p>Email: @ViewBag.User.Email</p>
<br><br>
<p>Number of Posts: @ViewBag.Idea.Count</p>
<p>Number of Likes: @ViewBag.Like.Count</p>